AIRFLOW_IMAGE_NAME=r2-pipeline:lakehouse
AIRFLOW_UID=50000

LANDING_PATH=/opt/airflow/data/landing
ARCHIVE_PATH=/opt/airflow/data/archive
QUARANTINE_PATH=/opt/airflow/data/quarantine
LOG_PATH=/opt/airflow/logs

TRINO_HOST=trino
TRINO_PORT=8080
TRINO_HOST_PORT=8081
TRINO_QUERY_UI_PORT=3000
TRINO_USER=dbt
TRINO_CATALOG=lakehouse
TRINO_SCHEMA=raw
TRINO_HTTP_SCHEME=http

NESSIE_PORT=19120

MINIO_ENDPOINT=http://minio:9000
MINIO_API_PORT=9010
MINIO_CONSOLE_PORT=9011
MINIO_BUCKET=r2-lakehouse
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
AWS_REGION=us-east-1

DBT_PROJECT_DIR=/opt/airflow/include/dbt
DBT_PROFILES_DIR=/opt/airflow/include/dbt
DBT_LOG_PATH=/opt/airflow/logs/dbt
DBT_TARGET_PATH=/opt/airflow/include/dbt/target

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=false
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
